extends layout

block content

  h4= user_info.username

    dl
      each restaurant in restaurant_list
        dt 
          a(href='/user/'+user_info.username+'/restaurant/'+restaurant.name+'/menu/all') #{restaurant.name}
          dd #{restaurant.street}
          dd #{restaurant.city}
          dd #{restaurant.number}
          dd 
            a(href='/user/'+user_info.username+'/restaurant/'+restaurant.name+'/update') update restaurant

        hr  

      else
        dt You have no restaurants.

      p
        a(href='/user/'+user_info.username+'/restaurant/create') create restaurant

