extends layout

block content

  h4(class="user-heading")= user_info.username
  
  each restaurant in restaurant_list
    p 
      a(href='/user/restaurant/'+restaurant.name) #{restaurant.name}
    p #{restaurant.street}
    p #{restaurant.city}
    p #{restaurant.number}
    p 
      a(href='/user/restaurant/'+restaurant.name+'/update') update restaurant

    hr  

  else
    p You have no restaurants.

  p
    a(href='/user/restaurant/create') create restaurant

